.quote {
  padding: 75px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", sans-serif;
}

.quote p {
  font-size: clamp(19px, 6vw, 33px);
  width: 600px;
  text-align: center;
  margin-bottom: 40px;
}

.quote h5 {
  margin: 0 auto;
  font-size: 17px;
}

@media (max-width: 800px) {
  .quote {
    padding: 75px 25px;
  }
  .quote p {
    width: 100%;
  }
}
